<h2>Movie Titles</h2>

<% if @query %>
  <p>Results For: <%= @query %></p>
<% end %>




<div class='list-container'>
  <div class="panel disabled radius">
    <div class="row">
      <ul class="no-bullet">
      <% @movies.each do |movie| %>
        <div class="large-6 columns">
          <li>
            <a href="/movies/<%= movie[:id] %>" data-reveal-id="myModal" data-reveal-ajax="true">
              <%= movie[:title] %>
            </a>
          </li>
        </div>
      <% end %>
      </ul>

      <div id="myModal" class="reveal-modal" data-reveal>
        <h2>Awesome. I have it.</h2>
        <p class="lead">Your couch.  It is mine.</p>
        <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    </div>
  </div>
</div>
